@use "../../styles/colors.scss" as *;
@use "../../styles/mixins.scss" as *;
@use "../../styles/typography.scss" as *;

.about {
  @include container;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  height: 100vh;
}