@use "../../styles/colors.scss" as *;
@use "../../styles/mixins.scss" as *;
@use "../../styles/typography.scss" as *;
@use "../../styles/breakpoints.scss" as *;

.about {
  @include container;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  gap: 45px;
  height: 100vh;
  padding-top: 60px;

  @media (max-width: $breakpoint-lg) {
    padding-top: 40px;
    gap: 25px;
  }
}

.about-wrapper-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 60px;

  @media (max-width: $breakpoint-lg) {
    flex-direction: column-reverse;
    margin: 0;
    gap: 45px;
  }
}

.about-wrapper-right,
.about-wrapper-left {
  width: 50%;

  @media (max-width: $breakpoint-lg) {
    width: 80%;
  }
}

.about-buffer {
  height: 60px;
  width: 100%;
}

.about-text {
  width: 70%;
  letter-spacing: 3px;
  @media (max-width: $breakpoint-lg) {
    width: 100%;
  }
}
