@use "../../styles/colors.scss" as *;
@use "../../styles/mixins.scss" as *;
@use "../../styles/typography.scss" as *;


.header {
  position: fixed;
  top: 0;
  width: 100%;
  padding-top: 18px;
  padding-bottom: 18px;
  background-color: $secondary-color;
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;
  z-index: 10;
}

.visible {
  transform: translateY(0);
}

.navigation-list {
  @include reset-list;
  display: flex;
  justify-content: flex-end;
  gap: 47px;
  padding: 0 74px;
  color: $primary-color;
}