@use "../../styles/colors.scss" as *;
@use "../../styles/mixins.scss" as *;


.header {
  @include container;
  max-width: 100vw;
  padding-top: 18px;
  padding-bottom: 18px;
  background-color: $secondary-color;
}

.navigation-list {
  @include reset-list;
  display: flex;
  justify-content: flex-end;
  gap: 47px;

  color: $primary-color;
}