@use "./colors.scss" as *;

body {
  background-color: $primary-color;
  font-family: "Poppins", serif;
  color: $secondary-color;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
}


