@use "./colors.scss" as *;
@use './breakpoints' as *;

body {
  background-color: $primary-color;
  font-family: "Poppins", serif;
  color: $secondary-color;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
  scroll-behavior: smooth;
}

.divider {
  display: block;
  @media (max-width: $breakpoint-md) {
    display: none;
  }
}

.divider.about-divider {
  @media (max-width: $breakpoint-lg) {
    display: none;
  }
}


