@use "./colors.scss" as *;

.heading-1 {
  margin: 0;
  font-size: 42px;
  font-weight: 300;
  line-height: 0.5em;
  color: $secondary-color;
}

.heading-2 {
  margin: 0;
  font-size: 32px;
  font-weight: 200;
  line-height: 0.5em;
  color: $secondary-color;
}

.link {
  position: relative;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: $primary-color;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    &::before {
      z-index: 1;
      transform: scaleY(1);
    }
  }

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    bottom: -1px;
    left: 0;
    right: 0;
    height: 3px;
    background-color: $contrast-color;
    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform 0.3s ease;

    &:hover {
      z-index: 1;
      transform: scaleY(1);
    }
  }
}
