@use "../../styles/colors.scss" as *;
@use "../../styles/mixins.scss" as *;
@use "../../styles/typography.scss" as *;

.footer {
	display: flex;
	flex-direction: column;
	align-items: center;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
	background-color: $secondary-color;
}

.footer-button-up {
	@include reset-anchor;
	margin-top: 5px;
	transition: transform 0.3s ease;

	&:hover {
		transform: translateY(-8px);

		.footer-icon-up path {
			fill: $contrast-color;
		}
	}
}

.button-footer {
	margin-top: -5px;
	background-color: $secondary-color;

	&::before {
		height: 0.2em;
		transition: transform 0.3s ease;
		transform: scaleY(0);
	}

	&:hover::before {
		transform: scaleY(1);
	}
}

.button-text-footer {
	font-size: 16px;
	font-weight: 500;
	color: $primary-color;
}