@use "../../styles/colors.scss" as *;
@use "../../styles/mixins.scss" as *;
@use "../../styles/typography.scss" as *;

.projects {
  @include container;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  gap: 45px;
  height: 100vh;
}

.projects-buffer {
  height: 60px;
  width: 100%;
}

.projects-wrapper-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: auto;
}

.projects-wrapper-right,
.projects-wrapper-left {
  width: 50%; 
}

.projects-wrapper-left {
	display: flex;
	justify-content: flex-end;
	padding-right: 60px;
}

.projects-image-wrapper {
	position: relative;
  width: 360px;
  height: 360px;
  background-color: $secondary-color;
}

.projects-image {
	position: absolute;
	top: -30px;
	right: -30px;
	z-index: 1;
}

.projects-wrapper-right {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	gap: 15px;
}

.projects-text {
  width: 80%;
	margin: 0;
  letter-spacing: 3px;
}
