@use "../../styles/colors.scss" as *;
@use "../../styles/mixins.scss" as *;
@use "../../styles/typography.scss" as *;

.home {
  @include container;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  height: 100vh;
}

.home-wrapper-left {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: flex-end;
}

.link-forward {
  @include reset-anchor;
  padding: 7px 40px 8px 41px;
  background-color: $secondary-color;
  font-size: 20px;
  font-weight: 400;
  color: $primary-color;
}
