@use "../../styles/breakpoints.scss" as *;
@use "../../styles/colors.scss" as *;

.skills-cloud {
  position: relative;
  width: 100%;
  height: 500px;
  border-radius: 50%;
  overflow: hidden;

  @media (max-width: $breakpoint-md) {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    height: auto;
    border-radius: 0;
  }
}

.icon-wrapper {
  position: absolute;

  @media (max-width: $breakpoint-md) {
    position: static;
  }

  &:hover {
    .icon-box rect {
      stroke-dashoffset: 0;
    }
    .icon-label {
      opacity: 1;
      transform: translate(-50%, 0);
    }
  }
}

.icon-box {
  position: absolute;
  top: -15px;
  left: -15px;
  rect {
    fill: transparent;
    stroke: $contrast-color;
    stroke-width: 3;
    stroke-dasharray: 280;
    stroke-dashoffset: 280;
    transition: stroke-dashoffset 0.9s ease;
  }
}

.icon {
  position: relative;
  margin: 5px;
  font-size: 3rem;
  color: #ffffff;
  z-index: 1;

  @media (max-width: $breakpoint-md) {
    font-size: 2rem;
  }
}


.icon-label {
  position: absolute;
  bottom: -10px;
  left: 50%;
  padding: 0 5px;

  font-size: 10px;
  color: $secondary-color;
  background-color: $primary-color;

  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.5s ease, transform 0.3s ease;
}
