
// .skills-cloud {
//   position: relative;
//   background-color: #3b5363; // Background color similar to your screenshot
//   width: 500px;
//   height: 500px;
// }

// .icon {
//   position: absolute;
//   // top: (math.random(100)) * 1px;
//   // left: (math.random(100)) * 1px;
//   font-size: 3rem;
//   color: #ffffff;
//   transition: transform 0.3s ease;
//   opacity: 0.9;

//   &:hover {
//     transform: scale(1.2) rotate(10deg);
//   }
// }

.skills-cloud {
  position: relative;
  // background-color: #3b5363;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  overflow: hidden;
}

.icon {
  position: absolute;
  font-size: 3rem;
  color: #ffffff;
  transition: transform 0.3s ease;
  opacity: 0.9;

  &:hover {
    transform: scale(1.2) rotate(10deg);
  }
}
