@use "../../styles/colors.scss" as *;
@use "../../styles/mixins.scss" as *;
@use "../../styles/typography.scss" as *;
@use "../../styles/breakpoints.scss" as *;

.contact {
  @include container;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: flex-end;
  gap: 45px;
  height: 100vh;
  padding-top: 60px;
}

.contact-wrapper-bottom {
  display: flex;
  align-items: flex-start;
  gap: 120px;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: $breakpoint-lg) {
    flex-direction: column;
    align-items: center;
    gap: 25px;
  }
}

.contact-wrapper-right,
.contact-wrapper-left {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;
	padding-top: 120px;

  @media (max-width: $breakpoint-lg) {
    padding-top: 45px;
  }
}

.contact-wrapper-left {
  margin-right: 55px;

  @media (max-width: $breakpoint-lg) {
    margin-right: 0;
  }
}

.contact-buffer {
  height: 60px;
  width: 100%;
}

.contact-text {
  width: 70%;
  letter-spacing: 3px;
}

.contact-wrapper-social {
	display: flex;
	gap: 20px;
}